doctype html
html(lang="sp")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Font-Family
        link(rel="stylesheet", href="style.css")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Freckle&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap", rel="stylesheet")
    body 
        h1 Hola Mundo
        h2 Hola Mundo 2
        h3 Hola Mundo 3
        h4 Hola Mundo 4
        h5 Hola Mundo 5
        h6 Hola Mundo 6
        p Gabriel José de la Concordia García Márquez (Aracataca, Magdalena, Colombia, 6 de marzo de 1927 - Ciudad de México, México, 17 de abril de 2014)nota 1​2​ (Speaker Icon.svg escuchar) fue un escritor y periodista colombiano. Reconocido principalmente por sus novelas y cuentos, también escribió narrativa de no ficción, discursos, reportajes, críticas cinematográficas y memorias. Fue conocido como Gabo, y familiarmente y por sus amigos como Gabito.